<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>School</th>
    <th>State</th>
    <th>Type</th>
  </tr>
  <tr>
    <td>{{school[0]}}</td>
    <td>{{state[0]}}</td>
    <td>{{control[0]}}</td>
  </tr>
  <tr>
    <td>{{school[1]}}</td>
    <td>{{state[1]}}</td>
    <td>{{control[1]}}</td>
  </tr>
  <tr>
    <td>{{school[2]}}</td>
    <td>{{state[2]}}</td>
    <td>{{control[2]}}</td>
  </tr>
  <tr>
    <td>{{school[3]}}</td>
    <td>{{state[3]}}</td>
    <td>{{control[3]}}</td>
  </tr>
  <tr>
    <td>{{school[4]}}</td>
    <td>{{state[4]}}</td>
    <td>{{control[4]}}</td>
  </tr>
</table>

</body>
</html>
